*::-webkit-input-placeholder {
	color: #0a2736;
	opacity: 1;
}
*:-moz-placeholder {
	color: #0a2736;
	opacity: 1;
}
*::-moz-placeholder {
	color: #0a2736;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #0a2736;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'GothamPro';
	font-size: 14px;
	overflow-x: hidden;
	margin: 0;
	color: #16273d;
	background-color: #fff;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}

/*header*/
.header {
	padding-top: 6px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	color: #16273d;
	display: inline-flex;
	align-items: center;
}
.logo img {
	margin-right: 18px;
	max-width: 78px;
}
.logo span {
	max-width: 188px;
}
.item__contact {
	line-height: 21px;
	text-align: center;
}
.item__contact span {
	font-size: 13px;
	display: block;
}
.item__contact p {
	font-weight: 500;
}
.item__contact a {
	color: #16273d;
	white-space: nowrap;
}
.item__contact .header__phone {
	font-size: 16px;
	font-weight: 700;
}
.header__menu {
	margin-top: 10px;
	padding: 17px 0;
	background-color: #4a9eba;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu li a {
	color: #fefefe;
	font-weight: 500;
	border-bottom: 1px transparent solid;
	display: inline-block;
	transition: all 0.3s;
}
.menu li a:hover {
	border-color: #fefefe;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
}
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #4a9eba;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #4a9eba;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #4a9eba;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top:5px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/
/*billbord*/
.title-big {
	font-size: 45px;
	line-height: 60px;
	font-weight: 900;
}
.title-big span {
	color: #fd6903;
}
.billbord {
	padding-top: 200px;
	padding-bottom: 80px;
	background-image: url(../img/bg_billbord.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.billbord .title-big {
	padding-bottom: 55px;
}
.billbord .list-arrows {
	max-width: 430px;
}
.list-arrows {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}
.list-arrows li {
	position: relative;
	padding-left: 44px;
	margin-bottom: 35px;
}
.list-arrows li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-color: #76bb78;
	background-image: linear-gradient(to top, #3a9e3d 0%, #76bb78 100%);
	border-radius: 50%;
}
.list-arrows li::after {
	color: #fff;
	top: 2px;
	left: 8px;
	font-size: 17px;
	position: absolute;
	display: block;
	content: "\f00c";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	filter: drop-shadow(0 3px 5px #333);
}
.list-billbord {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	display: flex;
	flex-direction: column;
}
.list-billbord li {
	padding-left: 30px;
	max-width: 303px;
	margin-bottom: 35px;
	position: relative;
}
.list-billbord li:nth-child(1) {
	margin-left: auto;
}
.list-billbord li:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}
.list-billbord li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 3px;
	left: 0;
	width: 14px;
	height: 14px;
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.33);
	background-color: #66d208;
	background-image: linear-gradient(to bottom, #f08921 0%, #ff6600 100%);
	border-radius: 50%;
}
.btn-main {
	font-size: 16px;
	line-height: 21px;
	padding: 28px 60px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'GothamPro';
	text-align: center;
	display: inline-block;
	border: none;
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.33);
	border-radius: 49px;
	background-color: #f08921;
	background-image: linear-gradient(to bottom, #f08921 0%, #ff6600 100%);
	transition: all 0.3s;
	color: #fff;
	position: relative;
	z-index: 1;
}
.btn-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 49px;
	background-color: #f08921;
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.33);
	background-image: linear-gradient(to bottom, #f08921 0%, #ff6600 100%);
	transition: all 0.3s;
	z-index: -1;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	height: 100%;
	border-radius: 49px;
	top: 0;
	left: 15px;
	right: 15px;
	z-index: -1;
	transition: all 0.3s;
	box-shadow: 0 8px 25px #f08921;
}
.btn-main:hover::after {
	background-color: #eb5e00;
	background-image: none;
}
.billbord .btn-main {
	max-width: 350px;
}
.sertification-confirm {
	padding-left: 105px;
	padding-right: 15px;
	border-radius: 49px;
	max-width: 410px;
	height: 98px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.7);
	font-weight: 500;
	line-height: 21px;
	position: relative;
}
.sertification-confirm::before {
	position: absolute;
	display: block;
	content: " ";
	width: 99px;
	height: 99px;
	background-image: url(../img/ic_sertification.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.billbord-bottom {
	margin-top: 10px;
	max-width: 960px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*common-catalog*/
.title-section {
	font-size: 36px;
	line-height: 48px;
	font-weight: 900;
}
.title-section_main {
	padding-top: 33px;
	padding-bottom: 33px;
}
.common-catalog {
	padding-bottom: 30px;
	background-color: #ecf2f7;
}
.row_catalog .row > div {
	margin-bottom: 30px;
}
.item-common-catalog {
	height: 202px;
	min-height: 94%;
	min-height: calc(100% - 30px);
	display: block;
	border-radius: 6px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}
.item-common-catalog img {
	border-radius: 6px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-common-catalog:hover img {
	transform: scale(1.1);
}
.item-common-catalog__content {
	top: 40px;
	left: 30px;
	bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 10px;
}
.item-common-catalog_first .item-common-catalog__content {
	top: 100px;
}

/*catalog*/
.catalog {
	padding-bottom: 75px;
}
.tabs {
	margin: 0 -15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs li {
	flex: 1;
	padding: 0 15px;
}
.tabs li a {
	padding: 0 14px;
	height: 85px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	box-shadow: 0 8px 21px rgba(74, 158, 186, 0.48);
	border-radius: 6px;
	background-color: #4a9eba;
	position: relative;
	z-index: 1;
}
.tabs li a::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.33);
	border-radius: 6px;
	background-color: #4a9eba;
	background-image: linear-gradient(to bottom, #f08921 0%, #ff6600 100%);
	opacity: 0;
	transition: all 0.3s;
}
.tabs li a:hover::before,
.tabs li.active a::before {
	opacity: 1;
}
.catalog-wrap {
	margin: 0 -8px;
	margin-top: 39px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.item-catalog {
	width: 18%;
	width: calc(20% - 16px);
	height: 170px;
	margin: 0 8px;
	margin-bottom: 19px;
	display: inline-block;
	overflow: hidden;
	border-radius: 8px;
	background-color: #4a9eba;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	color: #fff;
}
.item-catalog img {
	border-radius: 8px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog:hover img {
	transform: scale(1.1);
}
.item-catalog span {
	bottom: 25px;
	left: 15px;
	right: 10px;
	z-index: 2;
	position: absolute;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}

/*section-form*/
.section-form {
	padding: 93px 0;
	background-image: url(../img/bg_form.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1924px auto;
}
.title-middle {
	font-size: 30px;
	line-height: 40px;
	font-weight: 900;
}
.descr-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
}
.section-form .title-middle {
	padding-top: 55px;
	padding-bottom: 40px;
}
.block-form {
	padding: 30px 33px;
	padding-bottom: 38px;
	max-width: 360px;
	margin: 0 auto;
	box-shadow: 0 15px 25px rgba(35, 106, 130, 0.4);
	border-radius: 8px;
	background-color: #4a9eba;
	color: #fff;
	position: relative;
}
.block-form__img {
	top: 76px;
	right: 100%;
	margin-right: -10px;
	position: absolute;
}
.block-form__title {
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 25px;
	letter-spacing: 0.75px;
	text-align: center;
}
.checkbox {
	font-size: 13px;
	margin-top: 25px;
	text-align: left;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 1px 0 0 7px !important;
}
.checkbox label span {
	position: relative;
	padding: 3px 0 0 23px;
	display: block;
	cursor: pointer;
}
.checkbox label span:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #cccccc;
	background-color: #fff;
	transition: .2s;
}
.checkbox label span:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 0px;
	width: 15px;
	height: 15px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #fd6903;
	font-size: 7px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-wrap .checkbox {
	white-space: nowrap;
}
.block-form .btn-main {
	font-size: 15px;
	padding: 21px 0;
	width: 100%;
}
.block-form .btn-main::before {
	display: none;
}
.item-form input,
.item-form textarea {
	padding: 0 16px;
	height: 50px;
	border-radius: 6px;
	color: #000;
	background-color: #ffffff;
	border: none;
	font-family: 'GothamPro';
	font-size: 12px;
	letter-spacing: 0.6px;
	width: 100%;
}
.item-form textarea {
	height: 100px;
	resize: none;
}
.item-form {
	margin-bottom: 20px;
}
.section-form .descr-title {
	max-width: 335px;
}

/*recomendations*/
.recomends {
	padding-bottom: 20px;
}
.item-recomend {
	padding: 13px;
	border-radius: 8px;
	min-height: 100%;
	background-color: #ecf2f7;
	transition: all 0.3s;
	display: flex;
}
.item-recomend:hover {
	box-shadow: 0 0 15px #c7ced5;
}
.title-min {
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}
.item-recomend p {
	line-height: 21px;
}
.item-recomend p span {
	font-weight: 500;
}
.item-recomend .title-min {
	padding-top: 15px;
	padding-bottom: 25px;
}
.item-recomend__left {
	padding-left: 15px;
	padding-bottom: 30px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}
.item-recomend__left p:last-of-type {
	margin-top: auto;
}
.row_recomends > div {
	margin-bottom: 30px;
}
.item-recomend__image {
	width: 222px;
	min-height: 295px;
	border-radius: 6px;
}
.item-recomend__image img {
	border-radius: 6px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.recomends .title-section {
	padding-top: 45px;
	padding-bottom: 40px;
}

/*services*/
.services {
	padding-bottom: 45px;
	background-color: #ecf2f7;
}
.row_services > div {
	margin-bottom: 30px;
	justify-content: center;
}

.item-service {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 360px;
	margin: 0 auto;
	min-height: 100%;
	padding: 14px;
	padding-bottom: 33px;
	text-align: center;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 6px;
	color: #16273d;
	background-color: #ffffff;
	transition: all 0.3s;
}
.item-service:hover {
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.6);
}
.item-service__image {
	height: 290px;
	display: block;
	border-radius: 6px;
	margin-bottom: 20px;
	overflow: hidden;
}
.item-service__image img {
	border-radius: 6px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-service__name {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 900;
	text-transform: uppercase;
	display: block;
}
.item-service__price {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	display: block;
	max-width: 225px;
	margin-top: auto;
}
strong {
	font-weight: 700;
}

/*advantages*/
.advantages {
	padding-bottom: 90px;
}
.item-advantage__number {
	color: #ecf2f7;
	font-size: 110px;
	line-height: 85px;
	font-weight: 900;
	margin-bottom: 25px;
	position: relative;
}
.item-advantage__number::before {
	position: absolute;
	display: block;
	content: " ";
	width: 25px;
	height: 25px;
	bottom: 0;
	left: 0;
	background-color: #76bb78;
	background-image: linear-gradient(to top, #3a9e3d 0%, #76bb78 100%);
	border-radius: 50%;
}
.item-advantage__number::after {
	color: #fff;
	bottom: 6px;
	left: 8px;
	font-size: 17px;
	position: absolute;
	display: block;
	content: "\f00c";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	filter: drop-shadow(0 3px 5px #333);
}
.item-advantage {
	margin-top: 45px;
}
.item-advantage p {
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
}
.advantages .title-section {
	padding-top: 35px;
	padding-bottom: 15px;
}

/*portfolio*/
.portfolio {
	padding-bottom: 80px;
	background-image: url(../img/bg_portfolio.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.portfolio .title-section {
	padding-top: 75px;
	padding-bottom: 20px;
	text-align: center;
}
.slider-images {
	margin: 0 auto;
}
/*
.slider-images__item {
	height: 440px;
	position: relative;
}

.slick-current .slider-images__item {
	margin-top: 20px;
	margin-bottom: 35px;
	width: 678px;
	position: relative;
	z-index: 3;
}

.slick-slide.slick-active:not(.slick-current) .slider-images__item {
	height: 412px;
}
.slick-slide:not(.slick-current) .slider-images__item  img {
	opacity: 0;
	transform: scale(0.99) translateY(35px);
}
.slick-slide.slick-active:not(.slick-current) .slider-images__item  img {
	opacity: 0.5;
	transform: scale(0.99) translateX(520px) translateY(35px);
}
.slick-current.slick-active + .slick-slide .slider-images__item img {
	transform: scale(0.99) translateX(-520px) translateY(35px);
}

.slick-slide:not(.slick-current) .slider-images__item {
	height: 383px;
}
.slick-slide:not(.slick-current) .slider-images__item img {
	opacity: 0.2;
	transform: scale(0.6);
	transform: scale(0.7) translateX(655px) translateY(50px);
}
.slick-current .slider-images__item  {
	width: 655px;

	position: relative;
	z-index: 3;
}
.slick-current + .slick-slide  .slider-images__item img {
	transform: scale(0.7) translateX(-655px) translateY(50px);
}
*/

.slider-images .slick-track {
	max-width: 100%!important;
	transform: translate3d(0, 0, 0)!important;
	perspective: 100px;
}

.slider-images .slick-slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	width: 100%!important;
	transform: translate3d(0, 0, 0);
	transition: transform 1s, opacity 1s;
}

.slider-images .slick-snext,
.slider-images .slick-sprev {
	display: block;
}

.slider-images .slick-current {
	opacity: 1;
	position: relative;
	display: block;
	transform: translate3d(0, 0,15px);
	z-index: 2;
}

.slider-images .slick-snext {
	opacity: 0.5;
	transform: translate3d(35%, 0, 0px);
	z-index: 1;
}

.slider-images .slick-sprev {
	opacity: 0.5;
	transform: translate3d(-35%, 0, 0px);
}

.slider-images__item  {
	display: block;
	width: 100%;
	height: 350px;
}

.slider-images {
	margin-left: -12%;
	margin-right: -12%;
}
.slider-wrap {
	max-width: 850px;
	margin: 0 auto;
}
.slider-images .slick-list {
	padding-top: 5%!important;
	padding-bottom: 8%!important;
	padding-left: 25%!important;
	padding-right: 25%!important;
}

.slider-images__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 8px;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 8px;
	padding: 10px;
	background-color: #ffffff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	padding: 0;
	border: none !important;
	background-color: #4a9eba;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #fd6903;
}
.slick-arrow {
	top: 50%;
	font-size: 24px;
	bottom: auto;
	color: #4a9eba !important;
	width: auto;
	height: auto;
	transition: all 0.3s;
}
.slick-arrow::before {
	display: none;
}
.slider-images .slick-arrow {
	top: auto;
	bottom: -19px;
}
.slider-images .slick-prev {
	left: 80px;
}
.slider-images .slick-next {
	right: 80px;
}

/*section-form_consult*/
.section-form_consult {
	margin-top: -43px;
	color: #fff;
	background-image: url(../img/bg_form2.png);
}
.section-form_consult .block-form {
	z-index: 2;
}
.section-form_consult .block-form::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #55afcd;
	border-radius: 8px;
	z-index: -1;
}
.section-form_consult .block-form__img {
	top: 77px;
	margin-right: -56px;
	z-index: -1;
}

/*clients*/

.item-client {
	max-width: 260px;
	height: 150px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(106, 166, 200, 0.5);
	background-color: #ffffff;
	transition: all 0.3s;
}
.item-client:hover {
	box-shadow: 0 4px 10px rgba(106, 166, 200, 0.5);
}
.item-client img {
	max-width: 100%;
	max-height: 100%;
}

/*footer*/
.footer {
	margin-top: 35px;
	padding-top: 30px;
	color: #fff;
	background-color: #16273d;
}
.footer .item__contact a,
.footer .logo {
	color: #fff;
}
.footer__title {
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 27px;
	margin-top: 16px;
	line-height: 21px;
}
.footer .item__contact {
	margin-bottom: 27px;
	text-align: left;
}
.footer__nav li {
	margin-bottom: 22px;
	display: block;
}
.footer__nav li a {
	color: #fefefe;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
	display: inline-block;	
}
.footer__nav li a:hover {
	border-color: #fefefe;
}
.footer__bottom {
	padding: 15px 0;
	margin-top: 15px;
	font-size: 13px;
	border-top: 1px #1d3656 solid;
	color: rgba(255, 255, 255, 0.5);
}
.footer__bottom a {
	color: rgba(255, 255, 255, 0.5);
}
.create {
	display: inline-flex;
	align-items: center;
}
.create img {
	max-width: 60px;
	margin-left: 15px;
}
.btn_top {
	font-size: 24px;
	position: relative;
	color: #fff !important;
	width: 42px;
	height: 42px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.align_right {
	text-align: right;
}

/*contacts*/
.contacts {
	padding-top: 44px;
}
.contacts__item {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 43px;
}
.contacts__item a {
	color: #16273d;
	transition: all 0.3s;
}
.contacts__item  strong {
	font-weight: 500;
	display: block;
}
.header_page {
	position: relative;
}
.title-form {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding-bottom: 23px;
	text-align: center;
	color: #fff;
	letter-spacing: 1.2px;
}
.item-form textarea {
	padding-top: 18px;
	height: 94px;
}
#map {
	height: 490px;
	width: 100%;
}
.map-wrap {
	margin-top: -60px;
}
.contacts {
	background-image: url(../img/bg_contacts.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	z-index: 2;
}
.contacts .block-form {
	padding-top: 24px;
	padding-bottom: 24px;
	box-shadow: 0 15px 25px rgba(35, 106, 130, 0.4);
}
.row_contacts {
	padding-top: 8px;
}
.map-wrap + .footer {
	margin-top: 0 !important;
}

/*articles*/
.articles {
	padding-bottom: 40px;
	background-color: #ecf2f7;
}
.articles + .footer {
	margin-top: 0;
}
.item-article {
	padding: 13px;
	padding-bottom: 30px;
	min-height: 100%;
	display: block;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 6px;
	background-color: #ffffff;
	color: #16273d;
	transition: all 0.3s;
}
.item-article:hover {
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.6);
}
.item-article__image {
	height: 290px;
	border-radius: 6px;
	margin-bottom: 27px;
	display: block;
}
.item-article__image img {
	border-radius: 6px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-article__date {
	color: #16273d;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
	line-height: 21px;
	display: block;
}
.item-article__title {
	color: #16273d;
	font-size: 18px;
	font-weight: 900;
	line-height: 24px;
	text-transform: uppercase;
	display: block;	
}
.row_articles > div {
	margin-top: 30px;
}
.title-section_page {
	padding-top: 20px;
}
.pagination {
	padding: 18px 0;
	margin-top: 52px;
	background-color: #fff;
}
.pagination ul {
	padding: 0 50px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
}
.pagination li:not(.pagination__arrow) {
	font-size: 18px;
	color: #16273d;
}
.pagination li:not(.pagination__arrow) a {
	font-weight: 500;
	padding: 0 2px;
	color: #16273d;
	margin: 0 15px;
	font-size: 18px;
	line-height: 26px;
	transition: all 0.3s;
}
.pagination li:not(.pagination__arrow) a:hover,
.pagination li.active a {
	color: #004483;
	border-color: #004483;
}
.pagination .pagination__arrow a {
	font-size: 22px;
	color: #4a9eba;
}
.pagination__arrow {
	position: absolute;
	top: 0;
	bottom: 0;
}
.pagination__arrow:first-of-type {
	left: 30px;
}
.pagination__arrow:last-of-type {
	right: 30px;
}

/*article*/
.article {
	padding-bottom: 10px;
}
.breadcumbs {
	padding: 15px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcumbs li a {
	color: #16273d;
	transition: all 0.3s;
	border-bottom: 1px transparent solid;
}
.breadcumbs li span {
	padding: 0 4px;
}
.breadcumbs li a:hover {
	border-color: #16273d;
}
.article__image {
	margin-bottom: 30px;
}
.article__image img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 6px;
}
.article .title-section {
	padding-bottom: 30px;
	text-align: center;
}
.text-main {
	line-height: 21px;
}
.text-main_medium {
	font-weight: 500;
}
.title-text {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 17px;
	padding-top: 35px;
	font-weight: 900;
}
.title-mintext {
	font-size: 16px;
	font-weight: 500;
}
.article .text-main_medium {
	margin-bottom: 35px;
}
.text-main li {
	font-weight: 500;
	margin: 11px 0;
	padding-left: 20px;
	position: relative;
}
.text-main li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 7px;
	height: 7px;
	background-color: #4a9eba;
	border-radius: 50%;
	left: 0;
	top: 6px;
}
blockquote {
	margin: 20px 0;
	margin-bottom: 35px;
	padding: 35px;
	color: #16273d;
	background-color: #ecf2f7;
}

/*new*/
.logo img {
	margin-right: 0px;
	width: 228px;
	max-width: inherit;
}
.link-social {
	display: inline-block;
}
.link-social img {
	width: 28px;
	height: auto;
}
.descr-logo {
	margin-top: 15px;
	margin-bottom: 23px;
	color: #ffffff; 	
	font-size: 14px;
	max-width: 240px;
}
.link-insta-white {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.3);
}
.link-insta-white img {
	max-width: 100%;
	max-height: 100%;
}
.block-contact {
	padding: 12px;
	max-width: 305px;
	color: #16273d;
	line-height: 24px;
	font-size: 16px;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 6px;
	background-color: #ffffff;
}
.block-contact__image {
	height: 262px;
	border-radius: 6px;
	margin-bottom: 15px;
}
.block-contact__image img {
	border-radius: 6px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.block-contact p  {
	padding: 0 18px;
}
.block-contact p strong {
	font-weight: 500;
}
.col_contacts {
	padding-top: 8px;
}

/*card*/
.card {
	padding-bottom: 33px;
}
.slider-for__item {
	height: 330px;
	width: 99%;
	padding: 15px;
	border: 1px solid #ecf2f7;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav__item {
	height: 108px;
	padding: 12px;
	border: 1px solid #ecf2f7;
	background-color: #ffffff;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav {
	margin: 0 -10px;
	margin-top: 17px;
}
.slick-current .slider-nav__item {
	border-color: #ccc;
}
.title-page {
	color: #16273d;
	font-size: 24px;
	font-weight: 500;
}
.col_pr {
	padding-right: 0;
}
.card-block {
	font-size: 16px;
	padding: 24px 18px;
	padding-right: 17px;
	background-color: #ecf2f7;
	margin-bottom: 14px;
	color: #16273d;
}
.card .title-page {
	padding-bottom: 20px;
}
.card-block p strong {
	font-weight: 500;
	display: block;
	padding-bottom: 10px;
}
.card-block__descr {
	font-size: 13px;
	line-height: 20px;
}
.colors-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.colors-list__item {
	margin-right: 10px;
	width: 31px;
	height: 31px;
	background-color: #000;
	border-radius: 50%;
	border: 1px transparent solid;
	transition: all 0.3s;
	cursor: pointer;
}
.color_1 {
	background-color: #5ea384;
}
.color_2 {
	background-color: #f25353;
}
.color_3 {
	background-color: #50aeda;
}
.color_4 {
	background-color: #fc8145;
}
.color_5 {
	background-color: #fff;
}
.colors-list__item.active {
	border-color: #000;
}
.card-block__title {
	padding-top: 26px;
}
.card__price {
	padding-top: 9px;
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
}
.card__price span {
	font-size: 30px;
	line-height: 28px;
	margin-left: 18px;
}
.list-main li::before {
	content: "•";
	margin-right: 7px;
}
.list-main li {
	margin-bottom: 12px;
}
.list-paymanet {
	margin-left: 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-paymanet li {
	width: 52px;
	height: 29px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-paymanet li img {
	max-width: 100%;
	max-height: 100%;
}
.form-phone .item-form input {
	width: 215px;
	border: 1px solid #cccccc;
	border-radius: 6px;
}
.form-phone {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.form-phone .item-form {
	margin: 0;
	margin-right: -45px;
}
.form-phone .btn-main {
	font-size: 15px;
	padding: 20px 59px;
}
.form-phone + .checkbox {
	margin-top: 18px;
}
.tabs-card {
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.tabs-card li {
	margin-right: 5px;
}
.tabs-card li a {
	height: 72px;
	width: 292px;
	color: #16273d;
	font-size: 16px;
	font-weight: 500;
	max-width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #ecf2f7;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.tabs-card li.active a,
.tabs-card li a:hover {
	background-color: #4a9eba;
	color: #fff;
}
.tab-container-card {
	padding: 40px 30px;
	border: 1px solid #ecf2f7;
}
.text-page {
	font-size: 16px;
	line-height: 24px;
	text-indent: 10px;
}
.text-page p {
	margin-bottom: 20px;
}
.tab-container-card .text-page p:last-child {
	margin-bottom: 0;
}
.tab-pane-card {
	display: none;
}
.tab-pane-card:first-child {
	display: block;
}
.item-service .btn-main {
	font-size: 15px;
	padding: 20px 57px;
	box-shadow: none;
	margin-top: auto;
}
.item-service .btn-main::before,
.item-service .btn-main::after {
	box-shadow: none;
}
.price-item {
	color: #16273d;
	line-height: 21px;
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: 700;
}
.price-item span {
	font-weight: 500;
}
.price-item  sup {
	font-size: 12px;
}
.item-service__descr {
	font-size: 18px;
font-weight: 500;
margin-bottom: 18px;
line-height: 21px;
}
.products {
	padding-bottom: 80px;
	background-color: #ecf2f7;
}
.row_services + .title-section {
	padding-top: 15px;
}
.section-form_consult {
	position: relative;
	z-index: 2;
}
.section-form_consult + .footer {
	padding-top: 90px;
	margin-top: -60px;
}
.sidebar-catalog {
	padding: 20px 23px;
	padding-bottom: 28px;
	background-color: #ecf2f7;
}
.row_category .item-service {
	padding: 12px;
	padding-bottom: 25px;
	border: 1px transparent solid;
}
.row_category .item-service__image {
	height: 215px;
	margin-bottom: 15px;
}
.row_category .item-service__name {
	font-size: 15px;
}
.row_category .item-service__descr {
font-size: 14px;
line-height: 15px;
}
.row_category .price-item {
	font-size: 18px;
	line-height: 15px;
	margin-bottom: 15px;
}
.row_category .item-service .btn-main {
	    font-size: 14px;
    padding: 14px 34px;
}
.row_category .item-service:hover {
	background-color: transparent;
	box-shadow: none;
	border-color: #ccc;
}
.row_category > div {
	margin-bottom: 25px;
}
.category .pagination {
	margin-top: 5px;
background-color: #ecf2f7;
}
.category {
	padding-bottom: 100px;
}
.section-text {
	padding-top: 20px;
	padding-bottom: 10px;
}

.section-text .title-section {
	padding-bottom: 25px;
}
.link-more {
	line-height: 15px;
	font-weight: 500;
	color: #4a9eba;
	display: inline-flex;
	align-items: center;
}
.link-more span {
	border-bottom: 1px #4a9eba solid;
	transition: all 0.3s;
}
.link-more:hover span {
	border-color:transparent;
}
.link-more i {
	margin-left: 10px;
	font-size: 22px;
}
.text-main .link-more {
	margin-top: 25px;
}
.sidebar-catalog__title {
	font-size: 16px;
font-weight: 500;
line-height: 21px;
text-transform: uppercase;
	text-align: center;
}
.sidebar-catalog__name {
	font-size: 16px;
font-weight: 500;
padding-bottom: 20px;
padding-top: 20px;
line-height: 21px;
}
.checkbox_main label span:before,
.checkbox_main label span:after {
	width: 24px;
height: 24px;
top: -2px;
border-radius: 3px;
font-size: 12px;
}
.checkbox_main label span {
	padding-left: 41px;
}
.checkbox_main {
	margin-bottom: 12px;
	margin-top: 0;
	font-size: 15px;
}
.item-size-filter {
	font-size: 15px;
	margin-bottom: 15px;
}
.bottom-filter {
	padding-top: 30px;
	text-align: center;
}
.bottom-filter .btn-main {
	font-size: 15px;
    line-height: 21px;
    padding: 20px 44px;
    margin-bottom: 18px;
}
.link-clear-filter {
	color: #16273d;
font-size: 16px;
font-weight: 500;
line-height: 16px;
border-bottom: 1px #16273d solid;
transition: all 0.3s;
}
.link-clear-filter:hover {
	border-color:transparent;
}
.sidebar-catalog .colors-list {
	margin-bottom: 15px;
}
.catalog + .section-form_consult,
.category + .section-form_consult {
	background-image: url(../img/bg_form4.png);
}
.category .title-page {
	padding-bottom: 10px;
}

/*about*/
.about {
	background-color: #ecf2f7;
}
.about-block {
	padding-top: 20px;
	padding-left: 45px;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
border-radius: 6px;
background-color: #ffffff;
}
.about-block p {
	margin-bottom: 20px;
}
.about-block p strong {
	font-weight: 500;
}
.about-block .text-main {
	padding-top: 40px;
}
.about-block__image {
	position: relative;
}
.about-block__descr,
.about-block__name {
	padding: 15px 24px;
font-size: 18px;
font-weight: 500;
line-height: 24px;
position: absolute;
bottom: 74px;
left: -94px;
box-shadow: 0 5px 15px rgba(35, 106, 130, 0.21);
border-radius: 6px;
background-color: #ffffff;
}
.about-block__descr {
	font-size: 14px;
	padding: 12px 20px;
	left: -60px;
	bottom: 23px;
	font-weight: 400;
	line-height: normal;
	max-width: 215px; 
}
.title-section_sertificats {
	padding-top: 50px;
	padding-bottom: 25px;
	text-align: center;
}
.slider-sertificats__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	width: 360px;
	height: 490px;
	max-width: 100%;
	margin: 0 auto;
		margin-top: 5px;
	margin-bottom: 35px;
box-shadow: 0 10px 15px rgba(35, 106, 130, 0.21);
border-radius: 8px;
background-color: #ffffff;
}
.slider-sertificats__item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-slide:not(.slick-active) .slider-sertificats__item {
	box-shadow: none;
}
.slider-sertificats {
	padding-bottom: 15px;
}
.slider-sertificats .slick-arrow {
	bottom: -3px;
	top: auto;
	transform: none;
}
.slider-sertificats .slick-prev {
	left: 75px;
}
.slider-sertificats .slick-next {
	right: 75px;
}
.about {
	padding-bottom: 80px;
}
/* Production */

.production-portfolio {
	background-image: none;
	padding-bottom: 49px;
}
.title-production {
	padding-top: 38px;
	padding-bottom: 15px;
	text-align: center;
}
.map-wrap-production #map {
	height: 431px;
	width: 100%;
}
.production-map{
	padding-bottom: 110px;
	padding-top: 30px;
	background-color: #ecf2f7;
}
.map-wrap-production {
	position: relative;
}
.map-text{
	position: absolute;
	top: 30px;
	left: 91px;
	max-width: 357px;
	color: #16273d;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
	border-radius: 6px;
	background-color: #ffffff;
	z-index: 10;
	padding: 32px 25px 0px 34px;
}
.map-text span{
	font-weight: 500;
}
.map-text p{
	margin-bottom: 35px;
}
.section-form_production {
	margin-top: -43px;
	color: #fff;
	background-image: url(../img/bg_form2.png);
}
.section-form_production .block-form {
	z-index: 2;
}
.section-form_production .block-form::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #55afcd;
	border-radius: 8px;
	z-index: -1;
}
.title-section_production{
	padding: 74px 0px 53px 0px;
}
.common-catalog_page {
	padding-bottom: 70px;
}
.item-common-catalog__price sup {
	font-size: 14px;
}
.item-common-catalog__price span {
	font-weight: 500;
}
.item-common-catalog__price {
	display: block;
	text-transform: none;
}
.row_catalog > .col-md-4 > .item-common-catalog .item-common-catalog__content {
	justify-content: flex-start;
}
.catalog_services {
	padding-bottom: 100px;
	background-color: #ecf2f7;
}
.catalog_services .title-section {
	text-align: center;
}
.catalog_services .tabs li {
	padding: 0 10px;
	text-align: center;
}
.catalog_services .tabs li a {
	line-height: 24px;
}
.services-table-block {
	padding: 45px;
	padding-top: 20px;
	margin-top: 23px;
	box-shadow: 0 15px 20px rgba(35, 106, 130, 0.21);
border-radius: 6px;
background-color: #ffffff;
}
.table-wrap table {
	font-size: 16px;
	line-height: 21px;
	width: 100%;
	border-spacing: 0;
}
.table-wrap td {
	padding: 12px 0;
}
.catalog_services .table-wrap td:first-child {
	padding-left: 40px;
	text-align: left;
}
.catalog_services .table-wrap td {
	text-align: center;
}
.catalog_services .table-wrap td:last-child {
	padding-right: 30px;
	white-space: nowrap;
}
.catalog_services .table-wrap td:nth-child(2) {
	width: 40%;
}
.table-wrap thead td {
	font-weight: 500;
	background-color: rgba(74, 158, 186, 0.3);
	color: #16273d;
}
.table-wrap tbody tr:nth-child(even) td {
	background-color: rgba(74, 158, 186, 0.07);
}
.table-wrap sup {
	font-size: 10px;
}
.services-table-block .title-middle {
	padding-bottom: 28px;
}
.btn-wrap-services {
	padding-top: 50px;
	text-align: center;
}
.btn-wrap-services .btn-main {
	max-width: 350px;
}
.recomends_bottom {
	padding-bottom: 0px;
}